@charset "utf-8";

/*===============================================================================================================   

Author      : Muhammad Febriansyah

Built       : Juli 2017

=============================================================================================================== */



@media all and (max-width:1050px){

    
	
    /* header

    ================================================================================================================= */

    /* middle homepage

    ================================================================================================================= */
    .wrapper {
	    width: 100%;
	    margin: 0 auto;
	    padding-left: 40px;
	    padding-right: 40px;
	}
	.text-logo span.text-l1{
		font-size: 14px;
	}
	.text-logo span.text-l2{
		font-size: 18px;
	}
	.text-logo span.text-l3{
		font-size: 14px;
	}
	
    /* middle contentpage

    ================================================================================================================= */
	
	
    /* footer

    ================================================================================================================= */
	
	
}

